/* element and area styles */

body {
    font-family: 'Exo', sans-serif;
}

p {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.container-fluid {
    padding: 0;
}

.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}

.modal-footer {
    text-align: center;
}

#newTruthList {
    max-height: 60vh;
}

#newDareList {
    display: none;
    max-height: 60vh;
}

.list-group-item {
    border-radius: 0;
    border: none;
}

.badge {
    background: black;
}

li {
    font-size: 1.3em;
}

#review {
    font-size: 30px;
    padding-top: 5vh;
    text-align: center;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    -ms-animation-delay: 1s;
}

#viewAllSpace {
    height: 15vh;
}

#truthSpace {
    height: 25vh;
}

#statementSpace {
    height: 20vh;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    font-size: 2em;
}

#dareSpace {
    height: 25vh;
}

#resetSpace {
    height: 10vh;
}

#edit {
    display: none;
    height: 100vh
}

#addSpace {
    height: 20vh;
}

#truthInput {
    height: 20vh;
    width: 70%;
    margin-left: 15%;
    border: none;
    background: black;
    display: inline;
    color: white;
    border-radius: 1;
    font-size: 1.2em;
    text-align: center;
}

#truthInput:focus {
    width: 70%;
    margin-left: 15%;
    display: inline;
    outline: none;
    border: none;
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
}

#truthInput:active {
    width: 70%;
    margin-left: 15%;
    display: inline;
    outline: none;
    border: none;
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
}

#checkTruth {
    width: 15%;
    font-size: 1.2em;
    display: inline;
    color:white;
}

#dareInput {
    height: 20vh;
    width: 70%;
    margin-left: 15%;
    border: none;
    background: black;
    display: none;
    color: white;
    border-radius: 1;
    font-size: 1.2em;
    text-align: center;
}

#dareInput:focus {
    width: 70%;
    margin-left: 15%;
    display: inline;
    outline: none;
    border: none;
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
}

#dareInput:active {
    width: 70%;
    margin-left: 15%;
    display: inline;
    outline: none;
    border: none;
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
}

#checkDare {
    width: 15%;
    font-size: 1.2em;
    display: inline;
    color:white;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

#inputSpace {
    height: 60vh;
    overflow: auto;
}

#progressSpace {
    height: 20vh;
}



/* button styles */

button {
    background: transparent;
}

.btn-block {
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
}

.arrow-button {
    font-size: 1em;
    color: black;
    border: none;
}

.arrow-button:hover {
    outline: none;
    color: black;
}

.arrow-button:focus {
    outline: none;
    color: black;
}

.arrow-button:active {
    outline: none;
    color: black;
}

#close {
    border: none;
    font-size: 1.2em;
}

#close:hover {
    outline: none;
    color:white;
}

#close:focus {
    outline: none;
    color: white;
}

#close:active {
    outline: none;
    color: white;
}

#truth {
    height: 25vh;
    font-size: 3em;
    border: none;
}

#truth:hover {
    color: white;
    outline: none;
}

#truth:focus {
    color: white;
    outline: none;
}

#truth:active {
    outline: none;
}

#dare {
    height: 25vh;
    font-size: 3em;
}

#dare:hover {
    color: white;
    outline: none;
}

#dare:focus {
    color: white;
    outline: none;
}

#dare:active {
    outline: none;
}

#reset {
    display: none;
    height: 15vh;
    font-size: 2em;
}

#reset:disabled {
    background: white;
    color: white;
}

#reset:hover {
    outline: none;
    color: white;
}

#reset:focus {
    outline: none;
    color:white;
}

#reset:active {
    outline: none;
    color: white;
}

#customize {
    height: 15vh;
    font-size: 1.5em;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    -ms-animation-delay: 2s;
}

#customize:hover {
    outline: none;
    color: black;
}

#customize:focus {
    outline: none;
    color: black;
}

#customize:active {
    outline: none;
    color: black;
}

#checkTruthButton {
    background: transparent;
    color: white;
}

#checkTruthButton:hover {
    outline: none;
    color: white;
}

#checkTruthButton:focus {
    outline: none;
    color:white;
}

#checkTruthButton:active {
    outline: none;
    color: white;
}

#checkDareButton {
    background: transparent;
    color: white;
    display: none;
}

#checkDareButton:hover {
    outline: none;
    color: white;
}

#checkDareButton:focus {
    outline: none;
    color:white;
}

#checkDareButton:active {
    outline: none;
    color: white;
}

#next {
    height: 20vh;
    font-size: 2em;
}

#next:hover {
    outline: none;
    color: white;
}

#next:focus {
    outline: none;
    color:white;
}

#next:active {
    outline: none;
    color: white;
}

.badge:hover {
    outline: none;
    color: white;
}

.badge:focus {
    outline: none;
    color: white;
}

.badge:active {
    outline: none;
    color: white;
}

#save {
    height: 20vh;
    font-size: 2em;
    display: none;
    margin: 0;
    border: none;
}

#save:hover {
    outline: none;
    color: white;
}

#save:focus {
    outline: none;
    color:white;
}

#save:active {
    outline: none;
    color: white;
}



/* background and font colors */

.white-color {
    color: white;
}

.black-color {
    color: black;
}

.gray-color {
    color: lightgray;
}

.black-bg {
    background: black;
}

.white-bg {
    background: white;
}